{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}Notes App{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'core/style.css' %}">

</head>

<body>

  <header>
    <h1>Notes App</h1>
    <nav>
      {% if user.is_authenticated %}
      <span>Welcome, {{ user.username }}</span>
      <a href="{% url 'note-create' %}">New Note</a>
      <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit"
          style="background:none;border:none;padding:0;color:blue;text-decoration:underline;cursor:pointer;font-family:inherit;font-size:inherit;">Logout</button>
      </form>
      {% else %}
      <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </nav>
  </header>

  {% block content %}{% endblock %}

</body>

</html>